:root {
    --background: #F7F7FF;
    --black: #131112;
    --grey: #60656f;
    --green: #70c1b3;
    --red: #f25f5c;
    --blue: #279af1;
    --yellow: #fac345;
    --default_transition: all 0.3s ease-in-out;
    --default_box_shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

html {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    animation: fadein 1s;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    color: var(--black);
    background-color: var(--background);
    max-width: 65%;
    margin: 0 auto;
}

h2 {
    margin: 0;
}

h3 {
    color: var(--grey);
}

input {
    font-size: large;
    padding: .2em;
    border: none;
    border-bottom: .1em solid var(--black);
    background-color: var(--background);
    width: fit-content;
    width: 100%;
    margin-bottom: .5em;
}

button {
    outline: none;
    cursor: pointer;
    box-shadow: var(--default_box_shadow);
    border: none;
    border-radius: 1em;
    font-size: large;
    font-weight: bold;
    color: #eae8e8;
    background-color: var(--blue);
    height: 2.5em;
    width: 100%;
    text-align: center;
    animation: fadein 1s;
    transition: var(--default_transition);
}

button:hover {
    color: var(--black);
    background-color: var(--background);
    box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.3), 0px 3px 6px 0 rgba(0, 0, 0, 0.18);
    transition: var(--default_transition);
}

button#another_search {
    animation: fadein 1s;
    display: none;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    padding-left: 1em;
    margin-left: 1em;
    border-left: solid .3em var(--blue);
}

.profile>* {
    flex: 0 50%;
}

.profile_buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    float: right;
    margin-left: auto;
    max-height: 1.6em;
}

.profile_buttons a {
    display: inline-block;
    margin-right: 1em;
    max-height: 1.6em;
    max-width: 1.6em;
    padding: 1em;
    background-color: var(--blue);
    border-radius: 100%;
    box-shadow: var(--default_box_shadow);
}

#logout {
    background-color: var(--red);
}

.profile_buttons a:last-child {
    margin-right: 1em;
}

.profile_buttons a:hover {
    background-color: var(--background) !important;
    transition: var(--default_transition);
    box-shadow: 0px 3px 9px 0 rgba(0, 0, 0, 0.3), 0px 3px 6px 0 rgba(0, 0, 0, 0.18);
}

.profile_buttons a img {
    max-height: inherit;
    max-width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding-left: 1em;
    margin-left: 1em;
    border-left: solid .3em var(--blue);
}

.expanded {
    max-height: 100% !important;
}

#favorites,
#changes {
    max-height: 20em;
    overflow: hidden;
}

.listing_container {
    animation: fadein 1s;
    display: flex;
    box-shadow: var(--default_box_shadow);
    border-radius: .5em;
    margin: 1em;
}

.listing_container a:last-child {
    width: 100%;
}

.listing_container:hover {
    transition: var(--default_transition);
    animation: fadein 1s;
    background-color: var(--blue);
}

.index {
    padding-left: .6em;
    padding-right: .6em;
    min-height: 5em;
    height: 100%;
    cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    vertical-align: middle;
    flex-wrap: wrap;
    margin-top: auto;
    margin-bottom: auto;
    border-top-left-radius: .5em;
    border-bottom-left-radius: .5em;
}

.index img {
    margin-bottom: auto;
    margin-top: auto;
    width: 1.6em;
}

.change img {
    margin-bottom: 0;
}

a.decrease {
    transition: var(--default_transition);
    background-color: var(--green);
}

h3.decrease {
    color: var(--green);
}

a.increase {
    transition: var(--default_transition);
    background-color: var(--red);
}

h3.increase {
    color: var(--red);
}

.change h3 {
    width: 3em;
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: center;
    font-size: large;
    color: var(--black);
}

.change:hover h3 {
    color: var(--black);
}

.change:hover img {
    filter: none;
}

.rm:hover {
    transition: var(--default_transition);
    background-color: var(--red);
}

.rm img {
    vertical-align: middle;
}

.rm:hover img {
    filter: none !important;
}

.fav:hover {
    transition: var(--default_transition);
    background-color: var(--yellow);
}

.fav h3 {
    font-size: x-large;
    color: var(--black);
}

.fav h3 {
    margin-top: auto;
    margin-bottom: auto;
    vertical-align: middle;
    text-align: center;
}

.fav:hover h3 {
    color: var(--black) !important;
}

.fav img {
    margin-bottom: auto;
    vertical-align: middle;
    width: 1.6em;
}

.fav:hover img {
    filter: none !important;
}

.listing_container_placeholder {
    display: none;
}

.listing {
    width: 100%;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    min-height: 5em;
    box-shadow: var(--default_box_shadow);
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
}

.listing h3.listing_title {
    width: 100%;
    float: left;
    padding-left: .5em;
}

.listing h3 {
    margin: 0;
    float: left;
    padding-left: .5em;
}

.listing img {
    display: block;
    float: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5em;
    object-fit: cover;
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
}

.listing_details {
    display: block;
    float: right;
    width: 90%;
    margin-top: auto;
    margin-bottom: auto;
}

.prm {
    display: inline;
}

.center-text {
    display: block;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

.search {
    display: inline-block;
}

.search .parameters {
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
    float: left;
    width: 15em;
    box-shadow: var(--default_box_shadow);
}

.parameters * {
    font-size: large;
}

.parameters h3 {
    color: var(--blue);
    padding: 0%;
    margin: 0%;
}

.parameters .liniar {
    display: flex;
    justify-content: space-between;
}

.liniar input {
    margin-top: 0%;
    background-color: var(--background);
    width: 50%;
}

.liniar input:first-child {
    margin-right: .1em;
    background-color: var(--background);
    width: 50%;
}

.liniar input:last-child {
    margin-left: .1em;
    background-color: var(--background);
    width: 50%;
}

#search_results {
    display: none;
    animation: fadein 1s;
}

#checking_loader {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    display: inline;
}

.loading {
    display: none;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    animation: blinker 1s linear infinite;
    text-shadow: 0 0 1px white;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#bottom_spacing {
    padding-bottom: 10%;
}

.error_box {
    color: var(--black);
    display: flex;
    width: auto;
    padding: 1em;
    text-align: center;
    padding-left: 5em;
    padding-right: 5em;
    border: none;
    background-color: var(--red);
    border-radius: 1em;
}