html {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    color: #131112;
    background-color: #F7F7FF;
    max-width: 70%;
    margin: 0 auto;
}

h3 {
    color: #60656f;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
    padding-left: 1em;
    margin-left: 1em;
    border-left: solid .3em #279af1;
}

.profile>* {
    flex: 0 50%;
}

.logout {
    display: inline-block;
    justify-self: right;
    margin-left: auto;
    margin-right: 1em;
    max-height: 1.6em;
    max-width: 1.6em;
    padding: 1em;
    background-color: #f25f5c;
    border-radius: 100%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.logout:hover {
    background-color: #eae8e8;
    transition: all 0.3s ease-in-out;
}

.logout img {
    max-height: inherit;
    max-width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding-left: 1em;
    margin-left: 1em;
    border-left: solid .3em #279af1;
}

.listing {
    display: flex;
    margin: 1em;
    min-height: 5em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: .5em;
}

.listing img {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1em;
    object-fit: cover;
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
}

.center-text {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

.search {
    display: inline-block;
}

.search .parameters {
    padding: 1em;
    margin-right: 1em;
    float: left;
    width: 15em;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

input {
    padding: .2em;
    border: none;
    border-bottom: .1em solid #333;
    background-color: #F7F7FF;
    width: fit-content;
    width: 100%;
    margin-bottom: .5em;
}

.parameters h3 {
    padding: 0%;
    margin: 0%;
}

.parameters .liniar {
    display: flex;
    justify-content: space-between;
}

.liniar input {
    margin-top: 0%;
    background-color: #F7F7FF;
    width: 50%;
}

.liniar input:first-child {
    margin-right: .1em;
    background-color: #F7F7FF;
    width: 50%;
}

.liniar input:last-child {
    margin-left: .1em;
    background-color: #F7F7FF;
    width: 50%;
}

.search .results {
    width: 100%;
}