<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <!-- Page specific stylesheets -->
    {% if page == "enter" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='doorway.css') }}"> {% elif page == "dash" %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard.css') }}"> {% endif %}

    <!-- Title -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Carsen</title>
    {% endif %}
</head>

<body>
    {% block body %} {% endblock %}
</body>

<!-- Load scripts -->
{% if title == "Enter" %}
<script type="text/javascript" src="{{ url_for('static', filename='doorway.js') }}"></script> {% endif %}

</html>