{% if not empty %}{% if favs[0] != "" %} {% for fav in favs %}
<div class="listing_container">
    <a id="favid-{{ fav[6] }}" class="index rm" type="button">
        <img src="{{ url_for( 'static', filename='images/remove.png' ) }}">
    </a>
    <a href="{{ fav[0] }} " target="_blank ">
        <div class="listing">
            <img src="{{ fav[5] }}">
            <div class="listing_details">
                <h3 class="listing_title">{{ fav[1] }}</h3>
                <div class="prm">
                    <h3>{{ fav[2] }} €</h3>
                    <h3> | {{ fav[3] }}</h3>
                    <h3> | {{ fav[4] }} km</h3>
                </div>
            </div>
        </div>
    </a>
</div> {% endfor %}
<div class="listing_container_placeholder"></div>{% else %}
<div class="listing">
    <h3 class="center-text">Nothing to display</h3>
</div>
</div>
{% endif %} {% else %}
<div class="listing_container_placeholder"></div>
{% endif %}