<!DOCTYPE html>
<html>

<head>
    <title>Listings page</title>
</head>

<body>
    <h1>You've hit the search page! Nice!</h1>
    <h2>{{ current_user.name }}</h2>
    <h2>{{ current_user.email }}</h2>
    <a href="{{ url_for('logout') }}">LOGOUT</a>
    <!--{% for d in data %}
    <a href="{{ d[0] }}">
        <div>
            <img src="{{ d[5] }}">
            <h2>{{ d[1] }}</h2>
            <h2>{{ d[2] }}</h2>
            <h2>{{ d[3] }}</h2>
        </div>
    </a> {% endfor %}
-->
</body>

</html>